{% extends "wcclub/base.html" %}
{% block content %}
        <div style="position:relative;overflow:hidden;">
            <a href="https://yandex.ru/maps/org/kosmoport/1052159717/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Космопорт</a>
            <a href="https://yandex.ru/maps/51/samara/category/shopping_mall/184108083/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Торговый центр в Самаре</a>
            <a href="https://yandex.ru/maps/51/samara/category/entertainment_center/184106372/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:28px;">Развлекательный центр в Самаре</a>
            <iframe src="https://yandex.ru/map-widget/v1/?ll=50.198647%2C53.206288&mode=search&oid=1052159717&ol=biz&z=15.89" width="860" height="500" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
        </div>
{% endblock content %}